/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 6 Nov 2025, 12:50:21
    Author     : Admin
*/

*{
    padding: 0;
    margin:0;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    align-content:center; 
    background-image: url(../images/background2.jpg);
    background-size: cover;
}
h1,p { 
    color: blueviolet;
    text-align: center;
    font-weight: 500px;
    margin-bottom: 20px;
}
label {
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
    text-align: left;
    padding: 5px;
}
input[type="text"], input[type="email"] {
    width: 15em;
    padding: 7px;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em; }

.container{
  width: 500px;
  height: 400px;
  margin: 120px 550px;
  padding: 40px;
  background-color: #acb2d4;
  border-radius: 1rem 5rem 2rem 1rem;
  
}

form{
    margin: 20px;
    text-align: center;
}
